// brand colors
$primary: #367E8D;  //00657D
$primaryLight: #5CABBB;  //44B0BE
$secondary: #F4623B;
$secondaryMedium: #FB7A57;
$secondaryLight: #EDB3A3;

// cool colors
$cool: #5CABBB;  //56C5D0
$coolLight: #8CD0DF;  //A5DFE1

// neutral colors
$neutralDark: #A2B3C4;
$neutral: #EDF0F4;
$neutralLight: #F7F8F8;
$white: #fff;
$black: #111;

// feedback
$success: #ADEDB0;
$sucessLight: #DEF8DF;
$error: #FA3058;
$errorLight: #FC839B;

$maxWidth: 1200px;

$small: 768px;
$medium: 1024px;
$large: 1220px;
