@import '~Shared/styles/reset';
@import url('https://fonts.googleapis.com/css?family=Assistant|Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
}

p { margin: 50px 0; }

$green: #02BD9B;

.logo { color: red }
