@import '~Styles/reset';
@import url('https://fonts.googleapis.com/css?family=Assistant|Montserrat');
html, body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif;
  width: 100%;

  #root {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

p { margin: 50px 0; }

$green: #02BD9B;

.logo { color: red }
